.snipet-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  cursor: pointer;
  border: none;
  border-radius: var(--snipet-radius-full);
  background-color: var(--snipet-color-primary);
  color: var(--snipet-color-on-primary);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.snipet-bubble:hover {
  filter: brightness(1.1);
}
